<nav class="site-navbar site-navbar-right active">
				<ul>

                    <li id="menu-item-1817" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1817">
                        <a href="#">Por Tamaño</a>

                        <ul class="sub-menu">
	
                            <li id="menu-item-1821" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1821">
                                <a href="#">Pequeños</a>
                            </li>
	
                            <li id="menu-item-1831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1831">
                                <a href="#">Grandes</a>
                            </li>
	
                            <li id="menu-item-1834" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1834">
                                <a href="#">Medianos</a>
                            </li>

                        </ul>

                    </li>


                    <li id="menu-item-1819" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1819">
                        <a href="#">Por tipo</a>
                    </li>

        </ul>			
    </nav>
    
    
    <footer class="site-footer">
        <div class="container">
            <div class="widget-area-footer">

		
	       </div>
            <div class="credits row">
                    <p>Blog especializado en caninos</p>
            </div>
        </div>    
    </footer>
    {{!-- <div class="site-overlay active"></div> --}}