<div class="header-image">
    <a href="/">
        <img src="img/logo.png" width="874" height="159" alt="Aves Exóticas">
    </a>
</div>
<!-- HEADER -->
<header class="site-header with-header">
    <div class="container">
        
        <nav class="site-navbar">
            <ul>
                    <!-- Option with children -->         
                <li id="menu-item-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                    <a href="#">Por Razas</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/labrador">Labrador</a>        
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/pitbull">Pitbull</a>        
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/pug">Pug</a>        
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="/rottweiler">Rottweiler</a>        
                        </li>
                    </ul>
                </li>
                <!-- Option simple  --> 
                <li id="menu-item-3" class="menu-item menu-item-type-post_type menu-item-object-page">
                    <a href="#">Por Tipo</a>
                </li>
            </ul>
        </nav>
        <div class="site-trigger">
            <a class="site-nav-trigger" href="#">
                <span></span>
            </a>
        </div>
    </div>
</header>