<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caninos</title>
    <!--<base href="/">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="img/icon.png">

    <link rel="stylesheet" href="css/style.css">



</head>

<body  class="page-template-default page page-id-2746 page-parent woocommerce-js aawp-custom active">
    {{>navigation}}
    
    {{{body}}}
    {{>footer}}

</body>

</html>
